
{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}{{ post.title }} 글 보기{% endblock %}

{% block content %}
<div class="post_container">
            <h3><a href="/posts/{{ post.pk }}/">{{ post.title }}</a></h3>

            <div class="post_content">
                {{ post.content }}
            </div>

            <div>
                <p>글 갈래 : {{ post.category.name }}</p>
                <p>작성일시 : {{ post.created_at }}</p>
            </div>
        </div>

{% with comments=post.comment_set.all %}
    {% include 'comment_list.html' %}
{% endwith %}

{% endblock %}